# Importamos librerias requeridas

In [1]:
import pandas as pd

# Cargamos todos los datos transformados

Cargamos el dataset transformado movies

In [2]:
file_movies = 'D:\DataScience\PI\Process\Dataset_def\dt_movies.csv'
movies = pd.read_csv(file_movies, index_col=0)
movies.head(2)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,id_genero,genero,id_coleccion,nombre_coleccion,id_companie,companie,iso_3166_1,country,iso_639_1,languaje
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,16,Animation,10194.0,Toy Story Collection,3,Pixar Animation Studios,US,United States of America,en,English
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,35,Comedy,10194.0,Toy Story Collection,3,Pixar Animation Studios,US,United States of America,en,English

Cargamos el dataset transformado cast

In [3]:
file_cast = 'D:\DataScience\PI\Process\Dataset_def\dt_cast.csv'
cast = pd.read_csv(file_cast, index_col=0)
cast.drop_duplicates(inplace=True)
cast.reset_index(inplace=True)
cast.drop(columns='index', inplace=True)
cast

            id         name_actor
0          862          Tom Hanks
1          862          Tim Allen
2          862        Don Rickles
3          862         Jim Varney
4          862      Wallace Shawn
...        ...                ...
560699  227506   Iwan Mosschuchin
560700  227506  Nathalie Lissenko
560701  227506       Pavel Pavlov
560702  227506  Aleksandr Chabrov
560703  227506        Vera Orlova

[560704 rows x 2 columns]

Cargamos el dataset transformado crew

In [5]:
file_crew = 'D:\DataScience\PI\Process\Dataset_def\dt_crew.csv'
crew = pd.read_csv(file_crew, index_col=0)
# ya que los endpoints de la api requiere solo el director de las peliculos, descartamos los trabajos diferentes a este
crew = crew[crew.job == 'Director']
crew.drop_duplicates(inplace=True) # eliminamos los duplicados del dataframe
crew.reset_index(inplace=True) # reiniciamos el index para que queden nuevamente en orden
# ya sabemos que todos los nombres existentes corresponden a los directores 
crew.drop(columns=['index', 'job'], inplace=True) # se elimina la columna job
crew.rename(columns={'name':'name_director'}, inplace=True) # reemplazamos el nombre de la columna name por name_director
crew.head()

      id    name_director
0    862    John Lasseter
1   8844     Joe Johnston
2  15602    Howard Deutch
3  31357  Forest Whitaker
4  11862    Charles Shyer

# Procedemos a hacer el merge para obtener un solo dataframe

Hacemos un left join entre movies, cast y crew mediante el campo id para agregar el nombre de los actores y directores a las peliculas existentes en el dataframe de movies

In [6]:
merge_df = pd.merge(movies, cast, on='id', how='left')
merge_df = pd.merge(merge_df, crew, on='id', how='left')

In [7]:
merge_df

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,id_coleccion,nombre_coleccion,id_companie,companie,iso_3166_1,country,iso_639_1,languaje,name_actor,name_director
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3,Pixar Animation Studios,US,United States of America,en,English,Tom Hanks,John Lasseter
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3,Pixar Animation Studios,US,United States of America,en,English,Tim Allen,John Lasseter
2,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3,Pixar Animation Studios,US,United States of America,en,English,Don Rickles,John Lasseter
3,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3,Pixar Animation Studios,US,United States of America,en,English,Jim Varney,John Lasseter
4,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3,Pixar Animation Studios,US,United States of America,en,English,Wallace Shawn,John Lasseter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10241994,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,NaN,NaN,6165,American World Pictures,US,United States of America,en,English,Joe Sabatino,Mark L. Lester
10241995,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,NaN,NaN,6165,American World Pictures,US,United States of America,en,English,Kiko Ellsworth,Mark L. Lester
10241996,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,NaN,NaN,6165,American World Pictures,US,United States of America,en,English,Don Swayze,Mark L. Lester
10241997,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,NaN,NaN,6165,American World Pictures,US,United States of America,en,English,Peter Dobson,Mark L. Lester
10241998,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,NaN,NaN,6165,American World Pictures,US,United States of America,en,English,Darrell Dubovsky,Mark L. Lester