# Importamos librerias requeridas

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime

# Cargamos todos los datos transformados

Cargamos el dataset transformado movies

In [2]:
file_movies = '../Dataset_def/dtmovies.csv'
movies = pd.read_csv(file_movies, index_col=0)
movies.head(2)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,id_genero,genero,id_coleccion,nombre_coleccion,id_companie,companie,iso_3166_1,country,iso_639_1,languaje
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,16.0,Animation,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,35.0,Comedy,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English

Cargamos el dataset transformado cast

In [3]:
file_cast = '../Dataset_def/dtcast.csv'
cast = pd.read_csv(file_cast, index_col=0)
cast.drop_duplicates(inplace=True)
cast.reset_index(inplace=True)
cast.drop(columns='index', inplace=True)
cast.head()

    id     name_actor
0  862      Tom Hanks
1  862      Tim Allen
2  862    Don Rickles
3  862     Jim Varney
4  862  Wallace Shawn

Cargamos el dataset transformado crew

In [4]:
file_crew = '../Dataset_def/dtcrew.csv'
crew = pd.read_csv(file_crew, index_col=0)
# ya que los endpoints de la api requiere solo el director de las peliculos, descartamos los trabajos diferentes a este
crew = crew[crew.job == 'Director']
crew.drop_duplicates(inplace=True) # eliminamos los duplicados del dataframe
crew.reset_index(inplace=True) # reiniciamos el index para que queden nuevamente en orden
# ya sabemos que todos los nombres existentes corresponden a los directores
crew.drop(columns=['index', 'job'], inplace=True) # se elimina la columna job
crew.rename(columns={'name':'name_director'}, inplace=True) # reemplazamos el nombre de la columna name por name_director
crew.head()

      id    name_director
0    862    John Lasseter
1   8844     Joe Johnston
2  15602    Howard Deutch
3  31357  Forest Whitaker
4  11862    Charles Shyer

# Procedemos a hacer el merge para obtener un solo dataframe

Hacemos un left join entre movies, cast y crew mediante el campo id para agregar el nombre de los actores y directores a las peliculas existentes en el dataframe de movies

In [5]:
merge_df = pd.merge(movies, cast, on='id', how='left')
merge_df = pd.merge(merge_df, crew, on='id', how='left')

In [6]:
merge_df

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,id_coleccion,nombre_coleccion,id_companie,companie,iso_3166_1,country,iso_639_1,languaje,name_actor,name_director
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English,Tom Hanks,John Lasseter
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English,Tim Allen,John Lasseter
2,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English,Don Rickles,John Lasseter
3,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English,Jim Varney,John Lasseter
4,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English,Wallace Shawn,John Lasseter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10521399,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,NaN,NaN,88753.0,Yermoliev,RU,Russia,NaN,NaN,Nathalie Lissenko,Yakov Protazanov
10521400,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,NaN,NaN,88753.0,Yermoliev,RU,Russia,NaN,NaN,Pavel Pavlov,Yakov Protazanov
10521401,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,NaN,NaN,88753.0,Yermoliev,RU,Russia,NaN,NaN,Aleksandr Chabrov,Yakov Protazanov
10521402,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,NaN,NaN,88753.0,Yermoliev,RU,Russia,NaN,NaN,Vera Orlova,Yakov Protazanov
10521403,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,NaN,...,NaN,NaN,NaN,NaN,GB,United Kingdom,en,English,NaN,Daisy Asquith

In [7]:
# Revisamos en el dataframe final la cantidad de peliculas de las que se tiene informacion
merge_df.id.unique().size

45346

In [8]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10521404 entries, 0 to 10521403
Data columns (total 27 columns):
 #   Column             Dtype
---  ------             -----
 0   budget             int64
 1   id                 int64
 2   original_language  object
 3   overview           object
 4   popularity         float64
 5   release_date       object
 6   revenue            float64
 7   runtime            float64
 8   status             object
 9   tagline            object
 10  title              object
 11  vote_average       float64
 12  vote_count         float64
 13  return             float64
 14  release_year       int64
 15  id_genero          float64
 16  genero             object
 17  id_coleccion       float64
 18  nombre_coleccion   object
 19  id_companie        float64
 20  companie           object
 21  iso_3166_1         object
 22  country            object
 23  iso_639_1          object
 24  languaje           object
 25  name_actor         object
 26  name_director      object
dtypes: float64(9), int64(3), object(15)
memory usage: 2.2+ GB

In [ ]:
# cargamos el dataframe a un csv
merge_df.to_csv('data_movies_full.csv')