In [4]:
#Importacion de modulos requeridos para el tratamiento de la data y los procedimientos
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime

In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

# Definimos las funciones a usar para des-anidas las columnas de credits.csv

In [ ]:
# Se crea una funcion para desempaquetar los diccionarion que estan contenidos dentro de los campos de los dataframes
def unpacked(dataframe:pd.DataFrame, # dataframe a partir del cual se trabajara
             col_dict:str, # columna del dataframe donde esta el diccionario que se le hara el tratamiento
             campo_1:str, # nombre de la nueva columna donde se extraera la info del diccionario
             key_1:str): # clave del diccionario que se extraera

  # reseteamos el indice del dataframe para que quede nuevamente en orden numero  y no presente problemas al evaluar
  dataframe.reset_index(inplace=True)
  # creo un nuevo dataframe al cual agregare las nuevas filas para empezar a des-anidar los diccionarios
  aux_dat = dataframe.drop(dataframe.index)
  aux_dat[campo_1] = np.nan

  lista_columns = aux_dat.columns.values # se crea una lista con los nombres de las columnas del dataframe auxiliar
  ti = datetime.now()
  mod = 1000
  for i in range(dataframe.shape[0]): # inicio un ciclo con un iterador del tamaño de la cantidad de registros que tiene inicialmente el dataframe
      if i == mod:
        mod += 1000
        print(i)
      aux = eval(dataframe[col_dict][i]) # desesmpaqueto el string a un objeto dipo lista con la funcion eval
      flg = True
      j = 0
      while flg:
          if j >= (len(aux) - 1):
            flg = False
          lista_values = []
          if len(aux) > 0:
            lista_values.append(aux[j][key_1]) # agrego inicialmente a la lista vacia el valor de la key
          else:
            lista_values.append(np.nan) # agrego inicialmente a la lista vacia el valor de la key
          i_insert = 0 # inicio un punto para insertar en la respectiva posicion y nombre
          for k in dataframe.columns.values: # recorro la lista de nombres que tiene el dataframe movies
            lista_values.insert(i_insert, dataframe[k][i]) # inserto el valor correspondiente del dataframe, nombre y posicion especifica a la lista de valores
            i_insert += 1 # incremento mi puntero en 1
          serie_aux = dict(zip(lista_columns, lista_values)) # creo un diccionario con el nombre y lista de valores
          aux_dat = aux_dat.append(serie_aux, ignore_index=True) # agrego al dataframe aux_dat la serie recien creada
          j += 1
  # calculo del tiempo transcurrido
  tt_seg = (datetime.now() - ti).seconds

  # tratamiento del dateframe, se elimina la columna index
  aux_dat.drop(columns='index', axis=1, inplace=True)
  return aux_dat, tt_seg

In [ ]:
# Se crea una funcion para desempaquetar los diccionarion que estan contenidos dentro de los campos de los dataframes
def unpacked_2(dataframe:pd.DataFrame, # dataframe a partir del cual se trabajara
               col_dict:str, # columna del dataframe donde esta el diccionario que se le hara el tratamiento
               campo_1:str, # nombre de la nueva columna donde se extraera la info del diccionario
               campo_2:str,
               key_1:str, # clave del diccionario que se extraera
               key_2:str):

  # reseteamos el indice del dataframe para que quede nuevamente en orden numero  y no presente problemas al evaluar
  dataframe.reset_index(inplace=True)
  # creo un nuevo dataframe al cual agregare las nuevas filas para empezar a des-anidar los diccionarios
  aux_dat = dataframe.drop(dataframe.index)
  aux_dat[[campo_1, campo_2]] = np.nan

  lista_columns = aux_dat.columns.values # se crea una lista con los nombres de las columnas del dataframe auxiliar
  ti = datetime.now()
  mod = 1000
  for i in range(dataframe.shape[0]): # inicio un ciclo con un iterador del tamaño de la cantidad de registros que tiene inicialmente el dataframe
      if i == mod:
        mod += 1000
        print(i)
      aux = eval(dataframe[col_dict][i]) # desesmpaqueto el string a un objeto dipo lista con la funcion eval
      flg = True
      j = 0
      while flg:
          if j >= (len(aux) - 1):
            flg = False
          lista_values = []
          if len(aux) > 0:
            lista_values.append(aux[j][key_1]) # agrego inicialmente a la lista vacia el valor de la key
            lista_values.append(aux[j][key_2]) # agrego inicialmente a la lista vacia el valor de la key
          else:
            lista_values.append(np.nan) # agrego inicialmente a la lista vacia el valor de la key
            lista_values.append(np.nan) # agrego inicialmente a la lista vacia el valor de la key
          i_insert = 0 # inicio un punto para insertar en la respectiva posicion y nombre
          for k in dataframe.columns.values: # recorro la lista de nombres que tiene el dataframe movies
            lista_values.insert(i_insert, dataframe[k][i]) # inserto el valor correspondiente del dataframe, nombre y posicion especifica a la lista de valores
            i_insert += 1 # incremento mi puntero en 1
          serie_aux = dict(zip(lista_columns, lista_values)) # creo un diccionario con el nombre y lista de valores
          aux_dat = aux_dat.append(serie_aux, ignore_index=True) # agrego al dataframe aux_dat la serie recien creada
          j += 1

  # calculo del tiempo transcurrido
  tt_seg = (datetime.now() - ti).seconds

  # tratamiento del dateframe, se elimina la columna index
  aux_dat.drop(columns='index', axis=1, inplace=True)
  return aux_dat, tt_seg

# Cargamos la data a un dataframe de pandas para iniciar la transformacion de la data credits #

In [ ]:
data = '/content/drive/Othercomputers/Mi portátil/Process/Dataset/credits.csv'
credit = pd.read_csv(data)
credit

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

Se trabajaran las columnas cast y crew por separado ya que estan asociadas al id de la pelicula, para optimizar recursos de maquina.
Se hara un dataframe con el id y cast y otro con id y crew

 # Iniciamos des-anidando la columna cast
El término "cast" se refiere al elenco de actores y actrices que participan en una película. Incluye a todos los intérpretes que desempeñan roles o personajes en la historia. El cast puede incluir los nombres de los actores principales, secundarios y de reparto.
 - El diccionario proporciona mucha informacion de los actores dentro de la produccion que la considero irrelevante, por lo tanto solo tomare el nombre de los actores de esta

In [ ]:
# creamos un nuevo dataframe solo con las columnas cast y id
cred_cast = credit.drop(columns=['crew'], axis=1)
cred_cast

                                                    cast      id
0      [{'cast_id': 14, 'character': 'Woody (voice)',...     862
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...    8844
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...   15602
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...   31357
4      [{'cast_id': 1, 'character': 'George Banks', '...   11862
...                                                  ...     ...
45471  [{'cast_id': 0, 'character': '', 'credit_id': ...  439050
45472  [{'cast_id': 1002, 'character': 'Sister Angela...  111109
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...   67758
45474  [{'cast_id': 2, 'character': '', 'credit_id': ...  227506
45475                                                 []  461257

[45476 rows x 2 columns]

In [ ]:
# hacemos una exploracion de esta para ver la conformacion y conocer los datos relevantes que necesitaremos para nuestro dataframe
eval(cred_cast.cast[2])[0]

{'cast_id': 2,
 'character': 'Max Goldman',
 'credit_id': '52fe466a9251416c75077a8d',
 'gender': 2,
 'id': 6837,
 'name': 'Walter Matthau',
 'order': 0,
 'profile_path': '/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg'}

In [ ]:
aux_cast, tiempo_transcurrido = unpacked(cred_cast, 'cast', 'name_actor', 'name')
aux_cast

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000

,cast,id,name_actor
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...",862,Tom Hanks
1,"[{'cast_id': 14, 'character': 'Woody (voice)',...",862,Tim Allen
2,"[{'cast_id': 14, 'character': 'Woody (voice)',...",862,Don Rickles
3,"[{'cast_id': 14, 'character': 'Woody (voice)',...",862,Jim Varney
4,"[{'cast_id': 14, 'character': 'Woody (voice)',...",862,Wallace Shawn
...,...,...,...
564887,"[{'cast_id': 2, 'character': '', 'credit_id': ...",227506,Nathalie Lissenko
564888,"[{'cast_id': 2, 'character': '', 'credit_id': ...",227506,Pavel Pavlov
564889,"[{'cast_id': 2, 'character': '', 'credit_id': ...",227506,Aleksandr Chabrov
564890,"[{'cast_id': 2, 'character': '', 'credit_id': ...",227506,Vera Orlova
564891,[],461257,NaN

In [10]:
# procedemos a guardar los dataframes con la columna extraida y sin la columna transformada
# se guarda en csv y se exporta con la columna
aux_cast.to_csv('ttcast_1.csv')
files.download('ttcast_1.csv')

# se elimina la columna genres, se guarda en csv y se exporta sin la columna genres
aux_cast.drop(columns='cast', inplace=True) # se elimina la columna de generos ya que se hizo la desanidacion
aux_cast.to_csv('ttcast_0.csv')
files.download('ttcast_0.csv')

# se muestra el encabezado del nuevo dataframe y se revisa que haya quedado acorde
aux_cast.head(2)

    id name_actor
0  862  Tom Hanks
1  862  Tim Allen

# Finalmente des-anidamos la columna crew
El término "crew" se refiere al equipo técnico y de producción que trabaja en una película. Esto incluye a todas las personas que están involucradas en la realización de la película, como el director, productor, guionista, director de fotografía, diseñadores de vestuario, editores, entre otros. En resumen, el crew abarca a todas las personas detrás de escena que contribuyen al proceso de creación y producción de una película.
- El diccionario alojado en la columna crew proporciona mucha informacion de los directores y trabajadores en general de la produccion que la considero irrelevante, por lo tanto solo tomare el nombre  de esta.

In [12]:
cred_crew = credit.drop(columns=['cast'], axis=1)
cred_crew

                                                    crew      id
0      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...     862
1      [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...    8844
2      [{'credit_id': '52fe466a9251416c75077a89', 'de...   15602
3      [{'credit_id': '52fe44779251416c91011acb', 'de...   31357
4      [{'credit_id': '52fe44959251416c75039ed7', 'de...   11862
...                                                  ...     ...
45471  [{'credit_id': '5894a97d925141426c00818c', 'de...  439050
45472  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...  111109
45473  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...   67758
45474  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...  227506
45475  [{'credit_id': '593e676c92514105b702e68e', 'de...  461257

[45476 rows x 2 columns]

In [13]:
# hacemos una exploracion de esta para ver la conformacion y conocer los datos relevantes que necesitaremos para nuestro dataframe
eval(cred_crew.crew[0])[0]

{'credit_id': '52fe4284c3a36847f8024f49',
 'department': 'Directing',
 'gender': 2,
 'id': 7879,
 'job': 'Director',
 'name': 'John Lasseter',
 'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'}

In [14]:
aux_crew, tiempo_transcurrido = unpacked_2(cred_crew, 'crew', 'name', 'job', 'name', 'job')
aux_crew

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000

,crew,id,name,job
0,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,John Lasseter,Director
1,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,Joss Whedon,Screenplay
2,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,Andrew Stanton,Screenplay
3,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,Joel Cohen,Screenplay
4,"[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,Alec Sokolow,Screenplay
...,...,...,...,...
465080,"[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,Richard McHugh,Original Music Composer
465081,"[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,João Fernandes,Director of Photography
465082,"[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,Yakov Protazanov,Director
465083,"[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,Joseph N. Ermolieff,Producer
465084,"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,Daisy Asquith,Director

In [15]:
# procedemos a guardar los dataframes con la columna extraida y sin la columna transformada
# se guarda en csv y se exporta con la columna
aux_crew.to_csv('ttcrew_1.csv')
files.download('ttcrew_1.csv')

# se elimina la columna genres, se guarda en csv y se exporta sin la columna genres
aux_crew.drop(columns='crew', inplace=True) # se elimina la columna ya que se hizo la desanidacion
aux_crew.to_csv('ttcrew_0.csv')
files.download('ttcrew_0.csv')

# se muestra el encabezado del nuevo dataframe y se revisa que haya quedado acorde
aux_crew.head(2)

    id           name         job
0  862  John Lasseter    Director
1  862    Joss Whedon  Screenplay