# Importacion de modulos

In [1]:
#Importacion de modulos requeridos para el tratamiento de la data y los procedimientos
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime

In [2]:
# importamos modeulos requeridos para trabajar con google colab
from google.colab import drive
drive.mount('/content/drive')
from google.colab import files

Mounted at /content/drive

# Se declara la funcion que sirve para des-anidar los diccionarios contenidos en las columnas

In [3]:
# Se crea una funcion para desempaquetar los diccionarion que estan contenidos dentro de los campos de los dataframes
def unpacked(dataframe:pd.DataFrame, # dataframe a partir del cual se trabajara
               col_dict:str, # columna del dataframe donde esta el diccionario que se le hara el tratamiento
               campo_1:str, # nombre de la nueva columna donde se extraera la info del diccionario
               campo_2:str,
               key_1:str, # clave del diccionario que se extraera
               key_2:str):
  """Esta funcion recibe un dataframe, una columna del dataframe que contenga un diccionario, el nombre de los 
  nuevos campos a crear como auxiliar donde se desempaquetara el valor requerido del diccionario y las key del 
  diccionario a extraer el valor, la funcion logra extraer de la columna indicada el valor de la llave indicada 
  y lo escribira en el campo nuevo"""

  # reseteamos el indice del dataframe para que quede nuevamente en orden numero  y no presente problemas al evaluar
  dataframe.reset_index(inplace=True)
  # creo un nuevo dataframe al cual agregare las nuevas filas para empezar a des-anidar los diccionarios
  aux_dat = dataframe.drop(dataframe.index)
  aux_dat[[campo_1, campo_2]] = np.nan

  lista_columns = aux_dat.columns.values # se crea una lista con los nombres de las columnas del dataframe auxiliar
  ti = datetime.now()
  mod = 1000
  for i in range(dataframe.shape[0]): # inicio un ciclo con un iterador del tamaÃ±o de la cantidad de registros que tiene inicialmente el dataframe
      if i == mod:
        mod += 1000
        print(i)
      aux = eval(dataframe[col_dict][i]) # desesmpaqueto el string a un objeto dipo lista con la funcion eval
      flg = True
      j = 0
      while flg:
          if j >= (len(aux) - 1):
            flg = False
          lista_values = []
          if len(aux) > 0:
            lista_values.append(aux[j][key_1]) # agrego inicialmente a la lista vacia el valor de la key
            lista_values.append(aux[j][key_2]) # agrego inicialmente a la lista vacia el valor de la key
          else:
            lista_values.append(np.nan) # agrego inicialmente a la lista vacia el valor de la key
            lista_values.append(np.nan) # agrego inicialmente a la lista vacia el valor de la key
          i_insert = 0 # inicio un punto para insertar en la respectiva posicion y nombre
          for k in dataframe.columns.values: # recorro la lista de nombres que tiene el dataframe movies
            lista_values.insert(i_insert, dataframe[k][i]) # inserto el valor correspondiente del dataframe, nombre y posicion especifica a la lista de valores
            i_insert += 1 # incremento mi puntero en 1
          serie_aux = dict(zip(lista_columns, lista_values)) # creo un diccionario con el nombre y lista de valores
          aux_dat = aux_dat.append(serie_aux, ignore_index=True) # agrego al dataframe aux_dat la serie recien creada
          j += 1

  # calculo del tiempo transcurrido
  tt_seg = (datetime.now() - ti).seconds

  # tratamiento del dateframe, se elimina la columna index
  aux_dat.drop(columns='index', axis=1, inplace=True)
  return aux_dat, tt_seg

# Cargamos el archivo principal movies.csv para empezar con la transformacion de los datos

In [ ]:
data = '/content/drive/Othercomputers/Mi portaÌtil/Process/Dataset/movies_dataset.csv'
movies = pd.read_csv(data, sep=',') # importamos los datos como dataframe
movies # vemos como esta construido el dataframe

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,Ø±Ú¯ Ø®ÙØ§Ø¨,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'ÙØ§Ø±Ø³Û'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

Inicialmente eliminamos todos los registros duplicados existentes en el dataframe

In [ ]:
print('Vemos cuantos duplicados hay en el dataframe antes de eliminar: ', movies.duplicated().sum())
movies.drop_duplicates(inplace=True)
print('Vemos cuantos duplicados hay en el dataframe despues de eliminar: ', movies.duplicated().sum())

Vemos cuantos duplicados hay en el dataframe antes de eliminar:  13
Vemos cuantos duplicados hay en el dataframe despues de eliminar:  0

In [ ]:
# eliminamos los registros de las peliculas que estan repetidos en el campo id
movies.drop_duplicates(subset='id', keep='first', inplace=True)
movies.reset_index(inplace=True)

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45436 entries, 0 to 45435
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  45436 non-null  int64
 1   adult                  45436 non-null  object
 2   belongs_to_collection  4491 non-null   object
 3   budget                 45436 non-null  object
 4   genres                 45436 non-null  object
 5   homepage               7777 non-null   object
 6   id                     45436 non-null  object
 7   imdb_id                45419 non-null  object
 8   original_language      45425 non-null  object
 9   original_title         45436 non-null  object
 10  overview               44482 non-null  object
 11  popularity             45431 non-null  object
 12  poster_path            45050 non-null  object
 13  production_companies   45433 non-null  object
 14  production_countries   45433 non-null  object
 15  release_date           45349 non-null  object
 16  revenue                45430 non-null  float64
 17  runtime                45173 non-null  float64
 18  spoken_languages       45430 non-null  object
 19  status                 45349 non-null  object
 20  tagline                20401 non-null  object
 21  title                  45430 non-null  object
 22  video                  45430 non-null  object
 23  vote_average           45430 non-null  float64
 24  vote_count             45430 non-null  float64
dtypes: float64(4), int64(1), object(20)
memory usage: 8.7+ MB

Eliminar las columnas que no serÃ¡n utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.

In [ ]:
print('Shape del data frame antes de eliminar columnas que no se usaran: ', movies.shape)
movies.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'], axis=1, inplace=True)
print('Shape del data frame despues de eliminar columnas que no se usaran: ', movies.shape)

Shape del data frame antes de eliminar columnas que no se usaran:  (45436, 25)
Shape del data frame despues de eliminar columnas que no se usaran:  (45436, 19)

Los valores nulos de los campos revenue, budget deben ser rellenados por el nÃºmero 0.

In [ ]:
# imputamos con un 0 los valores nulos del campo revenue
print('Cantidad de valores nulos en el campo revenue antes de imputar: ', movies.revenue[movies.revenue.isna()].shape[0])
movies.revenue[movies.revenue.isna()] = 0
print('Cantidad de valores nulos en el campo revenue despues de imputar: ', movies.revenue[movies.revenue.isna()].shape[0])

Cantidad de valores nulos en el campo revenue antes de imputar:  6
Cantidad de valores nulos en el campo revenue despues de imputar:  0

In [ ]:
# imputamos con un 0 los valores nulos del campo budget
print('Cantidad de valores nulos en el campo budget antes de imputar: ', movies.budget[movies.budget.isna()].shape[0])
movies.budget[movies.budget.isna()] = 0
print('Cantidad de valores nulos en el campo revenue despues de imputar: ', movies.budget[movies.budget.isna()].shape[0])

Cantidad de valores nulos en el campo budget antes de imputar:  0
Cantidad de valores nulos en el campo revenue despues de imputar:  0

Crear la columna con el retorno de inversiÃ³n, llamada return con los campos revenue y budget, dividiendo estas dos Ãºltimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberÃ¡ tomar el valor 0.

Convertir el campo budget a numero para poder crear la nueva columna return

In [ ]:
# la columna budget tienes algunos registros no numericos, imputamos 0 a estos
movies.budget[movies.budget == '/ff9qCepilowshEtG2GYWwzt2bs4.jpg'] = 0
movies.budget[movies.budget == '/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg'] = 0
movies.budget[movies.budget == '/zaSf5OG7V8X8gqFvly88zDdRm46.jpg'] = 0

In [ ]:
# convertimos la columna a dato tipo int64
movies.budget = movies.budget.astype('int64')

In [ ]:
# Crear la nueva columna como el resultado de la divisiÃ³n, evitando la divisiÃ³n por cero
movies['return'] = np.where(movies['budget'] != 0, movies['revenue'] / movies['budget'], 0)

Los valores nulos del campo release date deben eliminarse.

In [ ]:
print('Cantidad de filas del dataframe antes de eliminar los valores nulos del campo release_date: ', movies.shape[0])
movies = movies[movies.release_date.notna()]
print('Cantidad de filas del dataframe despues de eliminar los valores nulos del campo release_date: ', movies.shape[0])

Cantidad de filas del dataframe antes de eliminar los valores nulos del campo release_date:  45436
Cantidad de filas del dataframe despues de eliminar los valores nulos del campo release_date:  45349

De haber fechas, deberÃ¡n tener el formato AAAA-mm-dd, ademÃ¡s deberÃ¡n crear la columna release_year donde extraerÃ¡n el aÃ±o de la fecha de estreno.

In [ ]:
# eliminamos los registros cuyo id es incorrecto (3)
# estos valores son corruptos y no dejan modificar el formato a timpo fecha
print('cantidad de registros antes de eliminar los que tienen el id incorrecto: ', movies.shape[0])
movies.drop(movies.id[movies.id == '1997-08-20'].index, inplace=True)
movies.drop(movies.id[movies.id == '2012-09-29'].index, inplace=True)
movies.drop(movies.id[movies.id == '2014-01-01'].index, inplace=True)
print('cantidad de registros despues de eliminar los que tienen el id incorrecto: ', movies.shape[0])

cantidad de registros antes de eliminar los que tienen el id incorrecto:  45349
cantidad de registros despues de eliminar los que tienen el id incorrecto:  45346

In [ ]:
# verificamos que no hayan datos numeros y extraÃ±os
movies.release_date.sort_values()

34917    1874-12-09
34914    1878-06-14
41575    1883-11-19
34910    1887-08-18
34911    1888-01-01
            ...
44508    2018-04-04
38106    2018-04-25
30381    2018-11-07
38860    2018-12-31
26542    2020-12-16
Name: release_date, Length: 45346, dtype: object

In [ ]:
# convertimos la columna a tipo fecha
movies.release_date = pd.to_datetime(movies.release_date)
movies.release_date.sort_values()

34917   1874-12-09
34914   1878-06-14
41575   1883-11-19
34910   1887-08-18
34911   1888-01-01
           ...
44508   2018-04-04
38106   2018-04-25
30381   2018-11-07
38860   2018-12-31
26542   2020-12-16
Name: release_date, Length: 45346, dtype: datetime64[ns]

Creamos la columna release_year donde extraerÃ¡n el aÃ±o de la fecha de estreno.

In [ ]:
# Extraemos el aÃ±o a partir de la columna release_year y creamos un nuevo campo
movies['release_year'] = movies.release_date.dt.year
movies.release_year

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45430    1991
45432    2011
45433    2003
45434    1917
45435    2017
Name: release_year, Length: 45346, dtype: int64

Se procede a desempaquetar el campo 'genres', si una pelicula tiene por ejemplo 3 generos se hara una fila
por cada genero al que este asociada, es decir, quedaran 3 filas y cada una con un genero independiente.

In [ ]:
aux_mov, tiempo_transcurrido = unpacked(movies, 'genres', 'id_genero', 'genero', 'id', 'name' )

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000

Exportamos el dataframe con y sin la columna genres

In [ ]:
# se guarda en csv y se exporta con la columna genres
aux_mov.to_csv('1_ttm_1.csv')
files.download('1_ttm_1.csv')

# se elimina la columna genres, se guarda en csv y se exporta sin la columna genres
aux_mov.drop(columns='genres', inplace=True) # se elimina la columna de generos ya que se hizo la desanidacion
aux_mov.to_csv('1_ttm_0.csv')
files.download('1_ttm_0.csv')

# se muestra el encabezado del nuevo dataframe y se revisa que haya quedado acorde
aux_mov.head(2)

,level_0,belongs_to_collection,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year,id_genero,genero
0,0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,12.451801,1995,16.0,Animation
1,0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,12.451801,1995,35.0,Comedy

# En este momento se procede a hacer el tratamiento de otro diccionario belong_to_collecion

In [ ]:
data = '/content/drive/Othercomputers/Mi portaÌtil/Process/provisional/1_ttm_0.csv'
movies = pd.read_csv(data, index_col=0) # cargamos el dataframe
movies.drop(columns='level_0', inplace=True)
movies#.head(2)

,belongs_to_collection,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year,id_genero,genero
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,12.451801,1995,16.0,Animation
1,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,12.451801,1995,35.0,Comedy
2,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,12.451801,1995,10751.0,Family
3,NaN,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035,1995,12.0,Adventure
4,NaN,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035,1995,14.0,Fantasy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93336,NaN,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,0.000000,2003,28.0,Action
93337,NaN,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,0.000000,2003,18.0,Drama
93338,NaN,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,0.000000,2003,53.0,Thriller
93339,NaN,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,...,[],Released,NaN,Satan Triumphant,0.0,0.0,0.000000,1917,NaN,NaN
93340,NaN,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,0.000000,2017,NaN,NaN

Cambiamos el tipo de dato a los campos de tipo numerico de ser posible para optimizar recursos

In [ ]:
# convertimos el campo id en tipo int y se verificael numero maximo y se asigna el tipo de dato int32 para optimizar memoria
movies.id = movies.id.astype('int64')
print(movies.id.max())
movies.id = movies.id.astype('int32')
print(movies.id.max())

469172
469172

In [ ]:
# convertimos el campo id en tipo int y se verificael numero maximo y se asigna el tipo de dato int32 para optimizar memoria
print(movies.budget.max())
movies.budget = movies.budget.astype('int32')
print(movies.budget.max())

380000000
380000000

In [ ]:
# convertimos el campo id en tipo float y se verifica el numero maximo y se asigna el tipo de dato float16 para optimizar memoria
print(movies.vote_average.max())
movies.vote_average = movies.vote_average.astype('float16')
print(movies.vote_average.max())

10.0
10.0

In [ ]:
# convertimos el campo id en tipo float y se verifica el numero maximo y se asigna el tipo de dato float32 para optimizar memoria
print(movies.vote_count.max())
movies.vote_count = movies.vote_count.astype('float32')
print(movies.vote_count.max())

14075.0
14075.0

In [ ]:
# convertimos el campo id en tipo float y se verificael numero maximo y se asigna el tipo de dato float16 para optimizar memoria
print(movies.runtime .max())
movies.runtime  = movies.runtime .astype('float16')
print(movies.runtime .max())

1256.0
1256.0

In [ ]:
# convertimos el campo id en tipo float y se verificael numero maximo y se asigna el tipo de dato float64 para optimizar memoria
print(movies.revenue.max())
movies.revenue = movies.revenue.astype('float64')
print(movies.revenue.max())

2787965087.0
2787965087.0

In [ ]:
# convertimos el campo id en tipo float y se verificael numero maximo y se asigna el tipo de dato float32 para optimizar memoria
print(movies['return'].max())
movies['return'] = movies['return'].astype('float32')
print(movies['return'].max())

12396383.0
12396383.0

In [ ]:
# vemos la informacion del dataframe
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93341 entries, 0 to 93340
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  11133 non-null  object
 1   budget                 93341 non-null  int32
 2   id                     93341 non-null  int32
 3   original_language      93324 non-null  object
 4   overview               92025 non-null  object
 5   popularity             93341 non-null  float64
 6   production_companies   93341 non-null  object
 7   production_countries   93341 non-null  object
 8   release_date           93341 non-null  object
 9   revenue                93341 non-null  float64
 10  runtime                93020 non-null  float16
 11  spoken_languages       93341 non-null  object
 12  status                 93217 non-null  object
 13  tagline                46753 non-null  object
 14  title                  93341 non-null  object
 15  vote_average           93341 non-null  float16
 16  vote_count             93341 non-null  float32
 17  return                 93341 non-null  float32
 18  release_year           93341 non-null  int64
 19  id_genero              90957 non-null  float64
 20  genero                 90957 non-null  object
dtypes: float16(2), float32(2), float64(3), int32(2), int64(1), object(11)
memory usage: 13.2+ MB

Haremos el tratamiento al campo belong_to_collection.

El campo belong_to_collection contiene un diccionario con 4 items, de este diccionario solo tomaremos las keys id y name y a partir de estos se hara 2 columnas respectivamente, llamadas id_collecion y nombre_collection.

In [ ]:
ti = datetime.now() # iniciamos para contar el tiempo que requiere el proceso
filtro = movies[movies.belongs_to_collection.notna()].index # creo un filtro con los indices de las columnas cuyo valor en el campo belong_to_collection no es nulo
movies[['id_coleccion', 'nombre_coleccion']] = np.nan # creo 2 campos en el dataframe llamadas id_collecion y nombre_collection para traer la informacion del diccionario de belong_to_collection y los inicializo en nan
for i in filtro: # inicio un ciclo recorriendo el vector que contiene los indices de los datos no nulos en belong_to_collection
  # empiezo a llenar los nuevos campos a partir de la informacion extraida del diccionario que contiene belong_to_collection
  aux_belongs_to_collection = eval(movies.belongs_to_collection[i]) # evaluo el registro para convertirlo a diccionario
  movies['id_coleccion'][i] = aux_belongs_to_collection['id'] # inserto al campo id_coleccion el valor de id del diccionario de belong_to_collection
  movies['nombre_coleccion'][i] = aux_belongs_to_collection['name'] # inserto al campo nombre_coleccion el valor de name del diccionario de belong_to_collection

tf = datetime.now()
tt = (tf - ti).seconds # retorno el tiempo transcurrido de este proceso
tt

5

In [ ]:
movies.head(2)

,belongs_to_collection,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,...,tagline,title,vote_average,vote_count,return,release_year,id_genero,genero,id_coleccion,nombre_coleccion
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,NaN,Toy Story,7.699219,5415.0,12.451801,1995,16.0,Animation,10194.0,Toy Story Collection
1,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,NaN,Toy Story,7.699219,5415.0,12.451801,1995,35.0,Comedy,10194.0,Toy Story Collection

In [ ]:
# se guarda en csv y se exporta con la columna genres
csv_0 = '2_ttm_0.csv'
csv_1 = '2_ttm_1.csv'
movies.to_csv(csv_1)
files.download(csv_1)

# se elimina la columna belongs_to_collection, se guarda en csv y se exporta sin la columna genres
movies.drop(columns='belongs_to_collection', inplace=True) # se elimina la columna de generos ya que se hizo la desanidacion
movies.to_csv(csv_0)
files.download(csv_0)

# se muestra el encabezado del nuevo dataframe y se revisa que haya quedado acorde
movies#.head(2)

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,tagline,title,vote_average,vote_count,return,release_year,id_genero,genero,id_coleccion,nombre_coleccion
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,NaN,Toy Story,7.699219,5415.0,12.451801,1995,16.0,Animation,10194.0,Toy Story Collection
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,NaN,Toy Story,7.699219,5415.0,12.451801,1995,35.0,Comedy,10194.0,Toy Story Collection
2,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,NaN,Toy Story,7.699219,5415.0,12.451801,1995,10751.0,Family,10194.0,Toy Story Collection
3,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,...,Roll the dice and unleash the excitement!,Jumanji,6.898438,2413.0,4.043035,1995,12.0,Adventure,NaN,NaN
4,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,...,Roll the dice and unleash the excitement!,Jumanji,6.898438,2413.0,4.043035,1995,14.0,Fantasy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93336,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,...,A deadly game of wits.,Betrayal,3.800781,6.0,0.000000,2003,28.0,Action,NaN,NaN
93337,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,...,A deadly game of wits.,Betrayal,3.800781,6.0,0.000000,2003,18.0,Drama,NaN,NaN
93338,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,...,A deadly game of wits.,Betrayal,3.800781,6.0,0.000000,2003,53.0,Thriller,NaN,NaN
93339,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,...,NaN,Satan Triumphant,0.000000,0.0,0.000000,1917,NaN,NaN,NaN,NaN
93340,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,...,NaN,Queerama,0.000000,0.0,0.000000,2017,NaN,NaN,NaN,NaN

In [ ]:
# vemos la conformacion de columnas del dataframe
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91004 entries, 0 to 91003
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                91004 non-null  int32
 1   id                    91004 non-null  int32
 2   original_language     90988 non-null  object
 3   overview              89935 non-null  object
 4   popularity            91004 non-null  float64
 5   production_companies  91004 non-null  object
 6   production_countries  91004 non-null  object
 7   release_date          91004 non-null  object
 8   revenue               91004 non-null  float64
 9   runtime               90753 non-null  float16
 10  spoken_languages      91004 non-null  object
 11  status                90910 non-null  object
 12  tagline               46516 non-null  object
 13  title                 91004 non-null  object
 14  vote_average          91004 non-null  float16
 15  vote_count            91004 non-null  float32
 16  return                91004 non-null  float32
 17  release_year          91004 non-null  int64
 18  id_genero             91004 non-null  int64
 19  genero                91004 non-null  object
 20  id_coleccion          11077 non-null  float64
 21  nombre_coleccion      11077 non-null  object
dtypes: float16(2), float32(2), float64(3), int32(2), int64(2), object(11)
memory usage: 15.6+ MB

# Se procede a hacer la transformacion de los datos de la columna production_companies

In [ ]:
data = '/content/drive/Othercomputers/Mi portaÌtil/Process/provisional/2_ttm_0.csv'
movies = pd.read_csv(data, index_col=0) # cargamos el dataframe
movies.head(2)

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,tagline,title,vote_average,vote_count,return,release_year,id_genero,genero,id_coleccion,nombre_coleccion
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,NaN,Toy Story,7.7,5415.0,12.451801,1995,16.0,Animation,10194.0,Toy Story Collection
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,NaN,Toy Story,7.7,5415.0,12.451801,1995,35.0,Comedy,10194.0,Toy Story Collection

In [ ]:
print('cantidad de duplicados antes de eliminarlos: ',movies.duplicated().sum())
movies.drop_duplicates(inplace=True)
print('cantidad de duplicados despues de eliminarlos: ',movies.duplicated().sum())

cantidad de duplicados antes de eliminarlos:  0
cantidad de duplicados despues de eliminarlos:  0

In [ ]:
# miramos el contenido de los diccionario de production_companies para saber como desempaquetar
movies.production_companies[3]

"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]"

In [ ]:
aux_mov, tiempo_transcurrido = unpacked(movies, 'production_companies', 'id_companie', 'companie', 'id', 'name' )

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000

In [ ]:
aux_mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178120 entries, 0 to 178119
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   budget                178120 non-null  int64
 1   id                    178120 non-null  int64
 2   original_language     178094 non-null  object
 3   overview              176285 non-null  object
 4   popularity            178120 non-null  float64
 5   production_companies  178120 non-null  object
 6   production_countries  178120 non-null  object
 7   release_date          178120 non-null  object
 8   revenue               178120 non-null  float64
 9   runtime               177697 non-null  float64
 10  spoken_languages      178120 non-null  object
 11  status                177994 non-null  object
 12  tagline               100619 non-null  object
 13  title                 178120 non-null  object
 14  vote_average          178120 non-null  float64
 15  vote_count            178120 non-null  float64
 16  return                178120 non-null  float64
 17  release_year          178120 non-null  int64
 18  id_genero             175573 non-null  float64
 19  genero                175573 non-null  object
 20  id_coleccion          23678 non-null   float64
 21  nombre_coleccion      23678 non-null   object
 22  id_companie           158051 non-null  float64
 23  companie              158051 non-null  object
dtypes: float64(9), int64(3), object(12)
memory usage: 32.6+ MB

In [ ]:
# se guarda en csv y se exporta con la columna genres
csv_0 = '3_ttm_0.csv'
csv_1 = '3_ttm_1.csv'
aux_mov.to_csv(csv_1)
files.download(csv_1)

# se elimina la columna belongs_to_collection, se guarda en csv y se exporta sin la columna genres
aux_mov.drop(columns='production_companies', inplace=True) # se elimina la columna de generos ya que se hizo la desanidacion
aux_mov.to_csv(csv_0)
files.download(csv_0)

# Se procede a hacer el tratramiento del diccionario alojado en el campo production_countries

In [ ]:
data = '/content/3_ttm_0.csv'
movies = pd.read_csv(data, index_col=0) # cargamos el dataframe
movies#.head(2)

,budget,id,original_language,overview,popularity,production_countries,release_date,revenue,runtime,spoken_languages,...,vote_average,vote_count,return,release_year,id_genero,genero,id_coleccion,nombre_coleccion,id_companie,companie
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,7.7,5415.0,12.451801,1995,16.0,Animation,10194.0,Toy Story Collection,3.0,Pixar Animation Studios
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,7.7,5415.0,12.451801,1995,35.0,Comedy,10194.0,Toy Story Collection,3.0,Pixar Animation Studios
2,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,7.7,5415.0,12.451801,1995,10751.0,Family,10194.0,Toy Story Collection,3.0,Pixar Animation Studios
3,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,6.9,2413.0,4.043035,1995,12.0,Adventure,NaN,NaN,559.0,TriStar Pictures
4,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,6.9,2413.0,4.043035,1995,12.0,Adventure,NaN,NaN,2550.0,Teitler Film
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178115,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,3.8,6.0,0.000000,2003,28.0,Action,NaN,NaN,6165.0,American World Pictures
178116,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,3.8,6.0,0.000000,2003,18.0,Drama,NaN,NaN,6165.0,American World Pictures
178117,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,3.8,6.0,0.000000,2003,53.0,Thriller,NaN,NaN,6165.0,American World Pictures
178118,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],...,0.0,0.0,0.000000,1917,NaN,NaN,NaN,NaN,88753.0,Yermoliev
178119,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,0.0,0.0,0.000000,2017,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print('cantidad de duplicados antes de eliminarlos: ',movies.duplicated().sum())
movies.drop_duplicates(inplace=True)
print('cantidad de duplicados despues de eliminarlos: ',movies.duplicated().sum())

cantidad de duplicados antes de eliminarlos:  0
cantidad de duplicados despues de eliminarlos:  0

In [ ]:
# miramos el contenido de los diccionario de production_companies para saber como desempaquetar
movies.production_countries[35]

"[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [ ]:
aux_mov, tiempo_transcurrido = unpacked(movies, 'production_countries', 'iso_3166_1', 'country', 'iso_3166_1', 'name' )

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000

In [ ]:
aux_mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260608 entries, 0 to 260607
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   budget             260608 non-null  int64
 1   id                 260608 non-null  int64
 2   original_language  260554 non-null  object
 3   overview           258378 non-null  object
 4   popularity         260608 non-null  float64
 5   release_date       260608 non-null  object
 6   revenue            260608 non-null  float64
 7   runtime            260123 non-null  float64
 8   spoken_languages   260608 non-null  object
 9   status             260475 non-null  object
 10  tagline            148609 non-null  object
 11  title              260608 non-null  object
 12  vote_average       260608 non-null  float64
 13  vote_count         260608 non-null  float64
 14  return             260608 non-null  float64
 15  release_year       260608 non-null  int64
 16  id_genero          257805 non-null  float64
 17  genero             257805 non-null  object
 18  id_coleccion       34826 non-null   float64
 19  nombre_coleccion   34826 non-null   object
 20  id_companie        238251 non-null  float64
 21  companie           238251 non-null  object
 22  iso_3166_1         250335 non-null  object
 23  country            250335 non-null  object
dtypes: float64(9), int64(3), object(12)
memory usage: 47.7+ MB

In [ ]:
aux_mov

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,spoken_languages,status,...,return,release_year,id_genero,genero,id_coleccion,nombre_coleccion,id_companie,companie,iso_3166_1,country
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,12.451801,1995,16.0,Animation,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,12.451801,1995,35.0,Comedy,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America
2,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,12.451801,1995,10751.0,Family,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America
3,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...,4.043035,1995,12.0,Adventure,NaN,NaN,559.0,TriStar Pictures,US,United States of America
4,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...,4.043035,1995,12.0,Adventure,NaN,NaN,2550.0,Teitler Film,US,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260603,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,0.000000,2003,28.0,Action,NaN,NaN,6165.0,American World Pictures,US,United States of America
260604,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,0.000000,2003,18.0,Drama,NaN,NaN,6165.0,American World Pictures,US,United States of America
260605,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,0.000000,2003,53.0,Thriller,NaN,NaN,6165.0,American World Pictures,US,United States of America
260606,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,[],Released,...,0.000000,1917,NaN,NaN,NaN,NaN,88753.0,Yermoliev,RU,Russia
260607,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,0.000000,2017,NaN,NaN,NaN,NaN,NaN,NaN,GB,United Kingdom

In [ ]:
# se guarda en csv y se exporta con la columna genres
csv_0 = '4_ttm_0.csv'
csv_1 = '4_ttm_1.csv'
aux_mov.to_csv(csv_1)
files.download(csv_1)

# se elimina la columna belongs_to_collection, se guarda en csv y se exporta sin la columna genres
aux_mov.drop(columns='production_countries', inplace=True) # se elimina la columna de generos ya que se hizo la desanidacion
aux_mov.to_csv(csv_0)
files.download(csv_0)

# Se procede a hacer el tratamiento de la ultima columna spoken_languajes

In [11]:
data = '/content/drive/Othercomputers/Mi portaÌtil/Process/provisional/4_ttm_0.csv'
movies = pd.read_csv(data, index_col=0) # cargamos el dataframe
#movies.drop(columns='level_0', inplace=True)
movies#.head(2)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,spoken_languages,status,...,return,release_year,id_genero,genero,id_coleccion,nombre_coleccion,id_companie,companie,iso_3166_1,country
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,12.451801,1995,16.0,Animation,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,12.451801,1995,35.0,Comedy,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America
2,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,12.451801,1995,10751.0,Family,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America
3,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...,4.043035,1995,12.0,Adventure,NaN,NaN,559.0,TriStar Pictures,US,United States of America
4,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...,4.043035,1995,12.0,Adventure,NaN,NaN,2550.0,Teitler Film,US,United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260603,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,0.000000,2003,28.0,Action,NaN,NaN,6165.0,American World Pictures,US,United States of America
260604,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,0.000000,2003,18.0,Drama,NaN,NaN,6165.0,American World Pictures,US,United States of America
260605,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,0.000000,2003,53.0,Thriller,NaN,NaN,6165.0,American World Pictures,US,United States of America
260606,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,[],Released,...,0.000000,1917,NaN,NaN,NaN,NaN,88753.0,Yermoliev,RU,Russia
260607,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,0.000000,2017,NaN,NaN,NaN,NaN,NaN,NaN,GB,United Kingdom

In [12]:
print('cantidad de duplicados antes de eliminarlos: ',movies.duplicated().sum())
movies.drop_duplicates(inplace=True)
print('cantidad de duplicados despues de eliminarlos: ',movies.duplicated().sum())

cantidad de duplicados antes de eliminarlos:  0
cantidad de duplicados despues de eliminarlos:  0

In [13]:
# miramos el contenido de los diccionario de spoken_languajes para saber como desempaquetar
movies.spoken_languages[35]

"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'iso_639_1': 'en', 'name': 'English'}]"

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260608 entries, 0 to 260607
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   budget             260608 non-null  int64
 1   id                 260608 non-null  int64
 2   original_language  260554 non-null  object
 3   overview           258378 non-null  object
 4   popularity         260608 non-null  float64
 5   release_date       260608 non-null  object
 6   revenue            260608 non-null  float64
 7   runtime            260123 non-null  float64
 8   spoken_languages   260608 non-null  object
 9   status             260475 non-null  object
 10  tagline            148609 non-null  object
 11  title              260608 non-null  object
 12  vote_average       260608 non-null  float64
 13  vote_count         260608 non-null  float64
 14  return             260608 non-null  float64
 15  release_year       260608 non-null  int64
 16  id_genero          257805 non-null  float64
 17  genero             257805 non-null  object
 18  id_coleccion       34826 non-null   float64
 19  nombre_coleccion   34826 non-null   object
 20  id_companie        238251 non-null  float64
 21  companie           238251 non-null  object
 22  iso_3166_1         250309 non-null  object
 23  country            250335 non-null  object
dtypes: float64(9), int64(3), object(12)
memory usage: 57.8+ MB

In [15]:
aux_mov, tiempo_transcurrido = unpacked(movies, 'spoken_languages', 'iso_639_1', 'languaje', 'iso_639_1', 'name')

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000

In [16]:
aux_mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418450 entries, 0 to 418449
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   budget             418450 non-null  int64
 1   id                 418450 non-null  int64
 2   original_language  418354 non-null  object
 3   overview           415955 non-null  object
 4   popularity         418450 non-null  float64
 5   release_date       418450 non-null  object
 6   revenue            418450 non-null  float64
 7   runtime            417906 non-null  float64
 8   spoken_languages   418450 non-null  object
 9   status             418307 non-null  object
 10  tagline            227275 non-null  object
 11  title              418450 non-null  object
 12  vote_average       418450 non-null  float64
 13  vote_count         418450 non-null  float64
 14  return             418450 non-null  float64
 15  release_year       418450 non-null  int64
 16  id_genero          415308 non-null  float64
 17  genero             415308 non-null  object
 18  id_coleccion       54309 non-null   float64
 19  nombre_coleccion   54309 non-null   object
 20  id_companie        391494 non-null  float64
 21  companie           391494 non-null  object
 22  iso_3166_1         407137 non-null  object
 23  country            407163 non-null  object
 24  iso_639_1          411865 non-null  object
 25  languaje           411865 non-null  object
dtypes: float64(9), int64(3), object(14)
memory usage: 83.0+ MB

In [18]:
aux_mov

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,spoken_languages,status,...,id_genero,genero,id_coleccion,nombre_coleccion,id_companie,companie,iso_3166_1,country,iso_639_1,languaje
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,16.0,Animation,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,35.0,Comedy,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English
2,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,10751.0,Family,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English
3,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...,12.0,Adventure,NaN,NaN,559.0,TriStar Pictures,US,United States of America,en,English
4,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...,12.0,Adventure,NaN,NaN,559.0,TriStar Pictures,US,United States of America,fr,FranÃ§ais
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418445,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,28.0,Action,NaN,NaN,6165.0,American World Pictures,US,United States of America,en,English
418446,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,18.0,Drama,NaN,NaN,6165.0,American World Pictures,US,United States of America,en,English
418447,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,53.0,Thriller,NaN,NaN,6165.0,American World Pictures,US,United States of America,en,English
418448,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,[],Released,...,NaN,NaN,NaN,NaN,88753.0,Yermoliev,RU,Russia,NaN,NaN
418449,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,NaN,NaN,NaN,NaN,NaN,NaN,GB,United Kingdom,en,English

In [19]:
# se guarda en csv y se exporta la data limpia
csv_0 = 'movies_clean_0.csv'
csv_1 = 'movies_clean_1.csv'
aux_mov.to_csv(csv_1)
files.download(csv_1)

# se elimina la columna belongs_to_collection, se guarda en csv y se exporta sin la columna spoken
aux_mov.drop(columns='spoken_languages', inplace=True) # se elimina la columna de spoken ya que se hizo la desanidacion
aux_mov.to_csv(csv_0)
files.download(csv_0)

# Cargamos el dataframe final, contiene todas las columnas con su respectivo tratamiento y con el requerimiento de cada una de ellas

In [24]:
data = '/content/drive/Othercomputers/Mi portaÌtil/Process/Dataset_def/dtmovies.csv'
movies = pd.read_csv(data, index_col=0)
movies

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,id_genero,genero,id_coleccion,nombre_coleccion,id_companie,companie,iso_3166_1,country,iso_639_1,languaje
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,16.0,Animation,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,35.0,Comedy,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English
2,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10751.0,Family,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English
3,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,12.0,Adventure,NaN,NaN,559.0,TriStar Pictures,US,United States of America,en,English
4,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,12.0,Adventure,NaN,NaN,559.0,TriStar Pictures,US,United States of America,fr,FranÃ§ais
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418445,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,28.0,Action,NaN,NaN,6165.0,American World Pictures,US,United States of America,en,English
418446,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,18.0,Drama,NaN,NaN,6165.0,American World Pictures,US,United States of America,en,English
418447,0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,53.0,Thriller,NaN,NaN,6165.0,American World Pictures,US,United States of America,en,English
418448,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,NaN,NaN,NaN,NaN,88753.0,Yermoliev,RU,Russia,NaN,NaN
418449,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,GB,United Kingdom,en,English